* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  font-family: "SFProDisplay", sans-serif;
}

body,
html {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #2f3035;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
}

.icon:hover {
  fill: #1c62cd;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Bold.woff") format("woff"), url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Light.woff") format("woff"), url("../fonts/Barlow-Light.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  src: url("../fonts/Barlow-SemiBold.woff") format("woff"), url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Staatliches";
  font-display: swap;
  src: url("../fonts/Staatliches-Regular.woff") format("woff"), url("../fonts/Staatliches-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(28px + -3 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + -19 * ((100vw - 320px) / 1600));
}

.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 0 0 35%;
  margin-right: calc(8px + 7 * ((100vw - 320px) / 1600));
}

.header-top__wrapper .icon {
  width: 24px;
  height: 24px;
  margin-left: calc(6px + 4 * ((100vw - 320px) / 1600));
}

.header-top__wrapper .icon-location {
  width: 24px;
  height: 30px;
  margin-right: calc(6px + 4 * ((100vw - 320px) / 1600));
}

.header-top__wrapper-adress {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 25 * ((100vw - 320px) / 1600));
  font-weight: bold;
  line-height: 24px;
  color: #2f3035;
}

.header-top__wrapper-location {
  display: block;
}

.user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-list__count {
  position: absolute;
  bottom: 0;
  right: -4%;
  color: #ffffff;
  font-size: calc(8px + 2 * ((100vw - 320px) / 1600));
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #1c62cd;
  border-radius: 50%;
}

.menu {
  flex: 0 0 38%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.menu__item + .menu__item {
  padding-left: calc(25px + 25 * ((100vw - 320px) / 1600));
}

.logo {
  flex: 0 0 10%;
}

.heared-bottom {
  min-height: 53px;
  background: #f0f0f4;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}

.menu-categories__item {
  position: relative;
}

.menu-categories__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  padding-top: calc(2px + 10 * ((100vw - 320px) / 1600));
  padding-bottom: calc(2px + 10 * ((100vw - 320px) / 1600));
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  height: 3px;
  left: auto;
  right: 0;
  width: 0;
  bottom: -7%;
  transition: all 0.5s;
}

.menu-categories__link:hover {
  font-weight: 600;
  color: #2f3035;
}

.menu-categories__link:hover:before {
  left: 0;
  right: auto;
  width: 100%;
  background-color: #1c62cd;
}

.menu-categories__link-active {
  font-weight: 600;
  color: #2f3035;
}

.menu-categories__link-active:before {
  left: auto;
  right: 0;
  width: 100%;
  background-color: #1c62cd;
}

.banner-section {
  padding-top: calc(55px + 22 * ((100vw - 320px) / 1600));
  padding-bottom: calc(55px + 22 * ((100vw - 320px) / 1600));
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.sale-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-left: calc(20px + 16 * ((100vw - 320px) / 1600));
}

.sale-item span {
  display: block;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__text {
  font-family: "ProximaNova";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #ffffff;
  background-color: #1c62cd;
  padding-top: calc(5px + 3 * ((100vw - 320px) / 1600));
  padding-bottom: calc(5px + 3 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.sale-item__price {
  top: 3px;
  right: 0;
  margin-right: 4px;
}

.sale-item__price span {
  font-family: "Barlow";
  text-align: right;
}

.sale-item__price-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1c62cd;
  margin-right: 6px;
  padding-bottom: calc(5px + 2 * ((100vw - 320px) / 1600));
}

.sale-item__price-new .icon-rub {
  width: 15px;
  height: 18px;
  fill: #1c62cd;
}

.sale-item__price-old {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-right: 6px;
  color: #c4c4c4;
}

.sale-item__price-old:after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 8px;
  width: 60px;
  height: 2px;
  background-color: #c4c4c4;
  transform: rotate(343deg);
}

.sale-item__price-old .icon-rub {
  width: 8px;
  height: 9px;
  fill: #c4c4c4;
}

.sale-item__img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  max-width: 125px;
  max-height: 176px;
}

.sale-item__title {
  margin-bottom: 7px;
}

.sale-item__footer {
  width: 100%;
  padding-top: calc(15px + 10 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
  background: #f0f0f4;
  border-radius: 3px;
}

.sale-item__footer-text {
  font-size: 18px;
  line-height: 21px;
  color: #2f3035;
}

.sale-item__footer-date {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1c62cd;
}

.banner-slider {
  position: relative;
  overflow: hidden;
  width: calc(500px + 370 * ((100vw - 320px) / 1600));
  hight: calc(250px + 150 * ((100vw - 320px) / 1600));
}

.banner-slider__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.banner-slider__btn {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
  cursor: pointer;
}

.banner-slider__btnprev {
  left: 20px;
}

.banner-slider__btnnext {
  right: 20px;
}

.banner-slider .icon-arrow {
  width: 15px;
  height: 28px;
  fill: #ffffff;
}

.banner-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.banner-slider .slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.banner-slider .slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.banner-slider .slick-active button {
  background-color: #ffffff;
}

.tabs-search {
  padding-bottom: calc(55px + 22 * ((100vw - 320px) / 1600));
}

.tabs-search__tabs {
  margin-bottom: calc(12px + 13 * ((100vw - 320px) / 1600));
}

.tabs-search__item {
  padding-bottom: calc(6px + 5 * ((100vw - 320px) / 1600));
  padding-top: calc(6px + 5 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
  border-radius: 5px;
  margin-right: 10px;
}

.tabs-search__item--active {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2f3035;
  background: #f0f0f4;
}

.tabs-search__item:hover {
  color: #2f3035;
  background: #f0f0f4;
}

.tabs-search__content-item {
  display: none;
}

.tabs-search__content-item--active {
  display: block;
}

.tabs-search__form {
  display: flex;
}

.tabs-search__input {
  width: 100%;
  padding-bottom: calc(6px + 5 * ((100vw - 320px) / 1600));
  padding-top: calc(6px + 5 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
  background: #f0f0f4;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
}

.tabs-search__input::-moz-placeholder {
  color: #656464;
}

.tabs-search__input:-ms-input-placeholder {
  color: #656464;
}

.tabs-search__input::placeholder {
  color: #656464;
}

.tabs-search__btn {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #1c62cd;
  border-radius: 3px;
  padding-bottom: calc(6px + 10 * ((100vw - 320px) / 1600));
  padding-top: calc(6px + 10 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 30 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 30 * ((100vw - 320px) / 1600));
  margin-left: 3px;
}

.category .icon-category {
  width: 6px;
  height: 9px;
  fill: #c4c4c4;
}

.category__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: calc(50px + 30 * ((100vw - 320px) / 1600));
}

.category__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 32%;
  padding-right: calc(13px + 7 * ((100vw - 320px) / 1600));
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 14px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.category__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.category__item:hover .category__title {
  color: #1c62cd;
}

.category__info {
  width: 50%;
}

.category__title {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 23px;
  line-height: 20px;
  color: #2f3035;
  margin-bottom: 50px;
}

.category__link {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.category__img {
  display: block;
  max-width: 165px;
  max-height: 105px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: calc(4px + 6 * ((100vw - 320px) / 1600));
}

.category__img img {
  width: calc(120px + 45 * ((100vw - 320px) / 1600));
  height: calc(70px + 70 * ((100vw - 320px) / 1600));
  max-width: 165px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1170px) {
  .category__item {
    flex: 0 0 32%;
  }
}

@media (max-width: 1024px) {
  .category__item {
    flex: 0 0 48%;
  }
}

@media (max-width: 768px) {
  .category__item {
    flex: 0 0 100%;
  }
}