.banner-section {
	@include adaptiv-value("padding-bottom", 77, 55, 0);
	&__inner {
		display: flex;
		justify-content: space-between;
	}
}
.sale-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include adaptiv-value("width", 265, 150, 0);
	text-align: center;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	@include adaptiv-value("margin-left", 36, 20, 0);
	span {
		display: block;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__text {
		font-family: "ProximaNova";
		text-transform: uppercase;
		@include adaptiv-font(12, 8);
		letter-spacing: 1.2px;
		color: $white;
		background-color: $accent;
		@include adaptiv-value("padding-top", 8, 5, 0);
		@include adaptiv-value("padding-bottom", 8, 5, 0);
		@include adaptiv-value("padding-left", 20, 10, 0);
		@include adaptiv-value("padding-right", 20, 10, 0);
	}
	&__price {
		top: 3px;
		right: 0;
		margin-right: 4px;
		span {
			font-family: "Barlow";
			text-align: right;
		}
		&-new {
			font-weight: 700;
			@include adaptiv-font(27, 16);
			line-height: 32px;
			color: $accent;
			margin-right: 6px;
			@include adaptiv-value("padding-bottom", 7, 5, 0);
			.icon-rub {
				width: 15px;
				height: 18px;
				fill: $accent;
			}
		}
		&-old {
			position: relative;
			font-weight: 400;
			@include adaptiv-font(14, 10);
			line-height: 17px;
			margin-right: 6px;
			color: #c4c4c4;
			&:after {
				content: "";
				position: absolute;
				display: inline-block;
				right: 0;
				bottom: 8px;
				width: 60px;
				height: 2px;
				background-color: #c4c4c4;
				transform: rotate(343deg);
			}
			.icon-rub {
				width: 8px;
				height: 9px;
				fill: #c4c4c4;
			}
		}
	}
	&__img {
		object-fit: contain;
		margin: 0 auto;
		@include adaptiv-value("width", 125, 90, 0);
		@include adaptiv-value("height", 176, 120, 0);
	}
	&__title {
		@include adaptiv-value("margin-bottom", 7, 2, 0);
	}

	&__footer {
		width: 100%;

		@include adaptiv-value("padding-top", 25, 15, 0);
		@include adaptiv-value("padding-bottom", 25, 15, 0);
		@include adaptiv-value("padding-left", 20, 10, 0);
		@include adaptiv-value("padding-right", 20, 10, 0);
		background: $light-gray;
		border-radius: 3px;

		&-text {
			font-size: 18px;
			line-height: 21px;
			color: #2f3035;
		}
		&-date {
			font-family: "Barlow";
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: $accent;
		}
	}
}

@media (max-width: 968px) {
	.banner-section {
		&__inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.banner-slider {
		max-width: 100%;
	}
}
@media (max-width: 680px) {
}
