* {
	font-family: "SFProDisplay", sans-serif;
}
body,
html {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: $dark;
}
.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}
.icon {
	width: 20px;
	height: 20px;
	fill: #000;
	&:hover {
		fill: $accent;
	}
}

.tabs-content {
	display: none;
}

.tabs-content--active {
	display: block;
}

.btn {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #1c62cd;
	border-radius: 3px;
	padding-bottom: calc(6px + 10 * ((100vw - 320px) / 1600));
	padding-top: calc(6px + 10 * ((100vw - 320px) / 1600));
	padding-left: calc(10px + 30 * ((100vw - 320px) / 1600));
	padding-right: calc(10px + 30 * ((100vw - 320px) / 1600));
}

// media
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1360px) {
}
@media (min-width: 1440px) {
}
