.catalog {
	&__aside {
		min-width: 300px;
		margin-right: 10px;
	}
}
.aside-filter {
	&__tabs {
		margin-bottom: 30px;
	}
	&__tab {
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		color: #c4c4c4;
		padding-bottom: 7px;
		margin-right: 40px;
	}
	.tab--active {
		font-weight: 900;
		color: $dark;
		border-bottom: 2px solid #1c62cd;
	}
	&__item-drop {
		margin: 30px 0;
	}
	&__item-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: $dark;
		padding-left: 26px;
	}

	&__drop {
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 4px;
			width: 12px;
			height: 12px;
			background-image: url(../img/icons/icons.svg#arrow-top);
		}
		&-active {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	&__content-box {
		position: relative;
		width: 50%;
		margin-bottom: 10px;
	}
	&__content-text {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60px;
		height: 25px;
		background-color: #f0f0f4;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		text-align: center;
		color: #c4c4c4;
	}
	.filter-style {
		&:checked {
			.aside-filter__content-text {
				background-color: $accent;
				color: $white;
			}
		}
	}
	&__content-radio {
		flex-wrap: nowrap;
	}
	&__content-label {
		font-size: 14px;
		line-height: 17px;
		color: $dark;
	}
	&__select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 2px solid #c4c4c4;
		margin-bottom: 20px;
	}
	&__link {
		font-size: 14px;
		line-height: 17px;
		color: $accent;
		padding-bottom: 5px;
		border-bottom: 1.2px solid $accent;
	}
	&__input {
		width: 100%;
		padding: 8px 20px;
		border: 1px solid #e0e0e0;
		margin-bottom: 8px;
		&::placeholder {
			font-size: 14px;
			color: #bdbec2;
		}
	}
}

//  check-box

.jq-checkbox,
.jq-radio {
	vertical-align: -2px;
	width: 14px;
	height: 14px;
	border: 1px solid #c4c4c4;
	border-radius: 1px;
	background: transparent;
	box-shadow: none;
	margin: 0 8px 0 0;
	cursor: pointer;
	&.checked {
		border: none;
		background: $accent;
	}
}
.jq-checkbox.checked {
	.jq-checkbox__div {
		width: 9px;
		height: 5px;
		margin: 3px 0 0 3px;
		border-bottom: 1px solid $white;
		border-left: 1px solid $white;
		transform: rotate(-50deg);
	}
}

.jq-radio.checked {
	.jq-radio__div {
		width: 9px;
		height: 5px;
		margin: 3px 0 0 3px;
		background: transparent;
		border-radius: 0;
		border-bottom: 1px solid $white;
		border-left: 1px solid $white;
		transform: rotate(-50deg);
		box-shadow: none;
	}
}

// range-slider

.irs--flat {
	width: 100%;
	.irs-bar {
		top: 25px;
		height: 3px;
		background-color: $accent;
	}
	.irs-line {
		height: 3px;
	}
	.irs-max,
	.irs-min,
	.irs-single {
		display: none;
	}
	.irs-handle {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $accent;
	}
	.irs-handle > i:first-child {
		display: none;
	}
	.irs-to,
	.irs-from {
		position: absolute;
		color: #fff;
		font-size: 10px;
		line-height: 1.333;
		text-shadow: none;
		padding: 1px 5px;
		background-color: #215bd1;
		border-radius: 4px;
		&:before {
			display: none;
		}
	}
}

.aside-filter__select-css {
	display: block;
	font-family: "Barlow";
	font-size: 14px;
	line-height: 17px;
	color: #48494d;
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
	width: 68px;
	max-width: 100%;
	margin: 0;
	appearance: none;
	background-color: transparent;
	background-image: url("../img/icons/icons.svg#arrow-top");
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
	cursor: pointer;
}
