.category {
	.icon-category {
		width: 6px;
		height: 9px;
		fill: #c4c4c4;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiv-value("padding-bottom", 80, 50, 0);
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex: 0 0 32%;
		// @include adaptiv-value("height", 129, 100, 0);
		@include adaptiv-value("padding-right", 20, 13, 0);
		@include adaptiv-value("margin-bottom", 30, 20, 0);
		padding-top: 20px;
		padding-left: 20px;
		padding-bottom: 14px;
		background: $white;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		&:hover {
			box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
			.category__title {
				color: $accent;
			}
		}
	}
	&__info {
		width: 50%;
	}

	&__title {
		font-family: "Barlow";
		font-weight: bold;
		font-size: 23px;
		line-height: 20px;
		color: #2f3035;
		margin-bottom: 50px;
	}
	&__link {
		font-size: 14px;
		line-height: 17px;
		color: #c4c4c4;
	}
	&__img {
		display: block;
		max-width: 165px;
		max-height: 105px;
		object-fit: contain;
		@include adaptiv-value("margin-right", 10, 4, 0);
		img {
			@include adaptiv-value("width", 165, 120, 0);
			@include adaptiv-value("height", 140, 70, 0);
			max-width: 165px;
			object-fit: contain;
		}
	}
}
@media (max-width: 1170px) {
	.category {
		&__item {
			flex: 0 0 32%;
		}
	}
}
@media (max-width: 1024px) {
	.category {
		&__item {
			flex: 0 0 48%;
		}
	}
}
@media (max-width: 768px) {
	.category {
		&__item {
			flex: 0 0 100%;
		}
	}
}
