@import "catalog-aside.scss";
.catalog {
	margin-bottom: 100px;
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.products-item__wrapper {
			margin-bottom: 30px;
		}
	}
}

.catalog-top {
	&__right {
		display: flex;
		align-items: center;
	}
	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		color: $dark;
		margin-bottom: 30px;
	}
	&__filters {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 47px;
	}
	&__left-btn {
		padding: 4px 22px;
		font-size: 14px;
		line-height: 17px;
		color: $dark;
		opacity: 0.7;
		background: $light-gray;
		border-radius: 3px;
		margin-right: 10px;
		&:hover {
			background-color: $accent;
			color: $white;
		}
	}
	&__btn-grid,
	&__btn-line {
		width: 25px;
		height: 25px;
		margin-left: 12px;
		background-color: transparent;
		opacity: 0.3;
	}
	&__btn--active {
		opacity: 1;
		.products-item__wrapper {
			width: 100%;
		}
	}
}

.catalog-bottom {
	display: flex;
	justify-content: space-between;
}

.icon-gallery {
	width: 25px;
	height: 25px;
}

.pagination {
	margin-top: 30px;
	width: 100%;
}
.pagination-list {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		margin: 0 6px;
		border: 2px solid transparent;
	}
	&__item-active {
		border: 2px solid $accent;
		color: $accent;
	}
	&__link {
		display: block;
		padding: 4px 12px;
		font-family: "Barlow";
		font-size: 18px;
		line-height: 22px;
		color: inherit;
		&--dots {
			display: block;
		}
	}
}

// select
.jq-selectbox__select {
	width: 250px;
	height: 34px;
	padding: 8px 20px;
	font-size: 14px;
	line-height: 17px;
	color: $dark;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	border: 1.5px solid #d7d9df;
	border-radius: 0;
}
.jq-selectbox__select:hover {
	background: rgba(28, 98, 205, 1);
	color: $white;
}
.jq-selectbox li:hover {
	background-color: rgba(28, 98, 205, 1);
	color: $white;
}
.jq-selectbox li.selected {
	background-color: rgba(28, 98, 205, 0.5);
	color: $white;
}

.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 12px;
	height: 10px;
	background: url("../img/arrow-down.svg");
	background-repeat: no-repeat;
	border: none;
}

// range-slider

.range-slider {
	width: 95%;
}
.js-input-from,
.js-input-to {
	text-decoration: underline;
}
.extra-controls {
	display: flex;
	justify-content: space-between;
	font-family: "Barlow";
	font-size: 14px;
	line-height: 17px;
	color: $dark;
	&__text {
		display: inline-block;
		font-size: 14px;
		line-height: 17px;
		color: #c4c4c4;
		margin-right: 10px;
	}
}
