.footer {
	padding-top: 42px;
	padding-bottom: 22px;
	background-color: $light-gray;
	color: $dark;
	&__top-inner {
		display: flex;
		justify-content: space-between;
	}
	&__top {
		margin-bottom: 46px;
	}
	&__top-title {
		max-width: 222px;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: inherit;
		margin-bottom: 10px;
	}

	&__top-items {
		font-size: 14px;
		line-height: 24px;
		color: inherit;
	}
	&__top-item {
		max-width: 220px;
		color: inherit;
	}
	&__top-link {
		color: inherit;
	}
	&__bottom {
		text-align: center;
	}

	&__bottom-link {
		font-size: 10px;
		line-height: 12px;
		color: #48494d;
		margin: 0 40px;
	}
	&__top-social {
		display: flex;
		align-items: center;
	}
}
.footer-form {
	min-width: 310px;
	margin-top: 35px;
	&__input {
		font-size: 14px;
		line-height: 17px;
		color: #c4c4c4;
		padding: 8px 16px;
		color: $dark;
	}
	&__btn {
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		padding: 8px 16px;
	}
}
.social-list {
	display: flex;
	&__link {
		display: inline-block;
		margin-right: 30px;
	}
	.icon-footer {
		width: 30px;
		height: 30px;
	}
}
