.goods {
	@include adaptiv-value("padding-bottom", 40, 30, 0);
	&__inner {
		display: flex;
		justify-content: space-between;
		@include adaptiv-value("padding-bottom", 40, 30, 0);
		@include adaptiv-value("min-height", 650, 450, 0);
	}
	// __image - start
	&__image {
		display: flex;
		position: relative;
		flex: 0 0 40%;
		flex-direction: column;
		text-align: center;
		font-family: "Barlow";
		font-size: 30px;
		line-height: 36px;
		color: $dark;
		padding-top: 60px;
		margin-right: 100px;
		&::before {
			padding: 13px 26px;
			font-size: 15px;
			line-height: 18px;
			border-radius: 3px;
		}
	}
	&__img {
		@include adaptiv-value("max-width", 500, 320, 0);
		@include adaptiv-value("max-height", 375, 220, 0);
		overflow: hidden;
		object-fit: cover;
		margin-bottom: 17px;
	}
	&__price-old {
		font-family: "Barlow";
		position: relative;
		opacity: 0.6;
		margin-bottom: 12px;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 37%;
			height: 1px;
			width: 130px;
			transform: rotate(173deg);
			background-color: $dark;
		}
		.icon__products--rub {
			width: 20px;
			height: 20px;
		}
	}
	&__price-new {
		font-family: "Barlow";
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 17px;
		.icon__products--rub {
			width: 45px;
			height: 28px;
		}
	}
	&__cheaper {
		font-size: 15px;
		line-height: 18px;
		color: $accent;
	}

	// __content - start
	&__content {
		flex: 0 0 50%;
		@include adaptiv-value("max-height", 610, 450, 0);
		overflow: auto;
	}
	&-title {
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;
		color: $dark;
		margin-bottom: 10px;
	}
	&__code {
		display: inline-block;
		font-size: 15px;
		line-height: 18px;
		color: $dark;
		opacity: 0.6;
		margin-bottom: 25px;
	}
	&__buttons {
		display: flex;
		align-items: center;
		line-height: 0;
		margin-bottom: 51px;
		.icon-scale {
			width: 24px;
			height: 25px;
		}
	}
	&__icon-favorite,
	&__icon-scale {
		background-color: transparent;
		margin-right: 25px;
	}

	&__tab {
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		opacity: 0.6;
		color: $dark;
		padding-right: 10px;
		margin-right: 10px;
		margin-bottom: 15px;
		padding-bottom: 4px;
		border-bottom: none;
		&.tab--active {
			color: $dark;
			font-weight: 700;
			opacity: 1;
			border-bottom: 2px solid $accent;
		}
	}

	&__tab-item {
		display: flex;
		max-width: 436px;
		font-size: 20px;
		line-height: 24px;
		color: $dark;
		padding-bottom: 6px;
		border-bottom: 1px solid $gray;
		margin-bottom: 15px;
	}
	&__tab-left {
		flex: 0 0 70%;
		margin-right: 10px;
		overflow: hidden;
	}
	&__tab-rigth {
		flex: 0 0 30%;
	}
	&__more {
		display: inline-block;
		font-size: 14px;
		line-height: 17px;
		padding-bottom: 4px;
		border-bottom: 1px solid $accent;
	}
	&__btn {
		display: block;
		padding: 16px 53px;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: $white;
		background-color: $accent;
		margin-top: 45px;
		border-radius: 3px;
	}
}
