.products {
	padding-bottom: 80px;

	&__inner {
		position: relative;
	}
	&__tabs {
		margin-bottom: 45px;
	}
	&__tab {
		font-size: 15px;
		line-height: 18px;
		color: $dark;
		margin-right: 50px;
		padding-bottom: 12px;
	}
	.tab--active {
		border-bottom: 2px solid #1c62cd;
	}
	.product-content {
		display: none;
	}

	.product-content--active {
		display: block;
	}
	&__more {
		text-align: center;
		margin: 30px 0;
	}
	&__more-link {
		min-width: 252px;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: $dark;
		padding: 16px 43px;
		background-color: #f0f0f4;
		margin: 0 auto;
	}
}

.products-title {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: $dark;
	margin-bottom: 25px;
}
.products-slider {
	&__btn {
		position: absolute;
		bottom: 45%;
		background-color: transparent;
	}
	&__btnprev {
		left: -35px;
	}
	&__btnnext {
		right: -35px;
	}
	.icon-black-arrow {
		width: 15px;
		height: 28px;
	}

	&__item {
		@include adaptiv-value("padding-top", 25, 10, 0);
		@include adaptiv-value("padding-bottom", 25, 10, 0);
		padding-left: 15px;
	}
}
.products-item {
	display: block;
	&__wrapper {
		position: relative;
		width: 270px;
		height: 403px;
		justify-content: space-around;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		position: relative;
		text-align: center;
		@include adaptiv-value("padding-top", 50, 40, 0);
		padding-bottom: 31px;
		overflow: hidden;
		transition: all 0.4s ease-out;
		&:hover {
			box-shadow: 3px 3px 15px rgba(50, 50, 50, 0.25);
			.products-item__hover-text {
				opacity: 0.8;
				transition: all 0.3s ease-out;
			}
			.products-item__price {
				color: $accent;
				transition: all 0.3s ease-out;
			}
			.icon__products--rub {
				transition: all 0.3s ease-out;
				fill: $accent;
			}
		}
	}
	&__sale::before {
		content: "Sale";
		position: absolute;
		left: 0;
		top: 0;
		padding: 6px 18px;
		background-color: $accent;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.07em;
		color: $white;
		text-transform: uppercase;
	}
	&__title {
		margin: 0 auto;
		max-width: 250px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: $dark;
		text-overflow: clip;
		@include adaptiv-value("padding-top", 20, 16, 0);
		@include adaptiv-value("padding-bottom", 4, 2, 0);
	}
	&__img {
		max-width: 200px;
		min-height: 200px;
		margin: 0 auto;
		object-fit: contain;
	}
	&__hover-text {
		position: absolute;
		display: inline-block;
		width: 230px;
		left: 7%;
		top: 30%;
		font-size: 20px;
		line-height: 24px;
		padding: 18px 21px;
		color: $dark;
		background: $white;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		opacity: 0;
		transition: opacity 0.3s ease-in;
	}
	&__price {
		font-family: "Barlow";
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;
		color: $dark;
		align-items: flex-end;
	}

	&__favorite {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 24px;
		height: 22px;
		background-color: transparent;
		z-index: 5;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 22px;
			background-image: url("../img/favorite.png");
		}
		&--active {
			&::before {
				background-image: url("../img/favorite-active.png");
			}
		}
	}
	&__basket {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 0;
		right: 0;
		min-width: 60px;
		min-height: 40px;
		line-height: 60px;
		border-radius: 10px 0px 0px 0px;
		background-color: $accent;
		.icon__products--basket {
			width: 30px;
			height: 22px;
			fill: $white;
		}
	}
	&__notify-text {
		display: none;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: $dark;
		margin-bottom: 13px;
	}
	&__notify-link {
		display: none;
		max-width: 190px;
		font-size: 16px;
		line-height: 19px;
		color: $accent;
		background-color: transparent;
		border-bottom: 1px solid $accent;
	}
}

.products-item__not-available {
	.products-item__price {
		display: none;
	}
	.products-item__notify-text {
		display: block;
	}
	.products-item__basket {
		display: none;
	}
	.products-item__notify-link {
		display: block;
		margin: 0 auto;
	}
}
