.banner-slider {
	position: relative;
	overflow: hidden;
	@include adaptiv-value("max-width", 840, 650, 0);
	// @include adaptiv-value("height", 400, 350, 0);

	&__img {
		width: 100%;
		object-fit: contain;
	}
	&__item {
		width: 100%;
	}
	&__btn {
		position: absolute;
		background-color: transparent;
		top: 50%;
		transform: translateY(-50%);
		z-index: 6;
		cursor: pointer;
	}
	&__btnprev {
		left: 20px;
	}
	&__btnnext {
		right: 20px;
	}
	.icon-arrow {
		width: 15px;
		height: 28px;
		fill: $white;
	}
	.slick-dots {
		position: absolute;
		@include adaptiv-value("bottom", 40, 10, 0);
		left: 0;
		right: 0;
		text-align: center;
	}
	.slick-dots li {
		display: inline-block;
		padding: 0 5px;
	}
	.slick-dots button {
		padding: 0;
		font-size: 0;
		margin: 0;
		width: 11px;
		height: 11px;
		border: 1px solid $white;
		border-radius: 50%;
		background-color: transparent;
	}
	.slick-active button {
		background-color: $white;
	}
}
