@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
			url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "nullstyle.scss";
@import "variable.scss";
@import "base.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "slick.scss";

@import "header.scss";
@import "banner-section.scss";
@import "slider.scss";
@import "breadcrumbs.scss";
@import "tabs-search.scss";
@import "category.scss";
@import "products.scss";
@import "banner.scss";

// catalog
@import "catalog.scss";
@import "product-page.scss";

@import "footer.scss";
